# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore Terraform provider binaries
.terraform/

# Ignore override files
*.tfvars
*.tfvars.json

# Ignore Terraform plan files
*.tfplan

# Ignore sensitive files
.terraform.lock.hcl

# Ignore backup files created by editors
*.bak
*.swp
*.tmp

# Ignore IDE or OS-specific files
.DS_Store
.idea/
.vscode/
*.log
